@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - My MarketPlace</title>
</head>
<style>
body    
{
    margin: 0;        
    padding: 0;        
    overflow-y: scroll;
    background: #3D3D3D;
    color: white;
}
header
{
    color: white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #5D5D5D;
}
.catalogBtnHeader 
{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    background: whitesmoke;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    width: 110px;
    height: 32px;
    left: 440px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.catalogBtnHeader:hover 
{        
    background: #BDBDBD;          
    border: 2px solid #8b8b8b;
}
.searchInputHeader 
{   
    color: black;  
    font-size: 22px;  
    font-family: 'consolas';     
    background: whitesmoke;    
    border: none;    
    border-radius: 5px;   
    width: 920px;    
    height: 30px;     
    left: 600px;     
    top: 41.5px;     
    position: absolute;  
    z-index: 0;
}
.searchBtnHeader 
{ 
    color: black;  
    font-size: 22px;
    font-weight: bold;  
    font-family: 'Arial'; 
    background: whitesmoke;   
    border: none; 
    border-radius: 5px; 
    width: 100px; 
    height: 32px;
    left: 1530px;  
    top: 41.5px;   
    position: absolute;    
    z-index: 0;  
    cursor: pointer;
}
.searchBtnHeader:hover 
{    
    background: #BDBDBD;
}
.userImg
{
    cursor: pointer;
}
.userImg:hover
{
    background: #8b8b8b4b;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.cartImg
{
    cursor: pointer;
}
.cartImg:hover
{
    background: #8b8b8b4b;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.mainPageItems 
{  
    margin-top: 85px;    
    margin-left: 255px;  
    padding: 20px;  
}
footer
{
    font-family: monospace;
    font-size: 22px;
    color: white;
    background: #1D1D1D;
    position: absolute;
    display: flex;
    width: 100%;
    right: 0.5px;
    height: 250px;  
    bottom: -350px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    flex-direction: row;   
    justify-content: space-around;         
    align-items: center;
}
.footerLink 
{  
    bottom: 30px;   
    position: absolute;
}
.footerLink:hover 
{        
    cursor: pointer;    
    border-bottom: 1px solid grey;
}
li 
{  
    padding: 10px 0;
}
</style>
<body>
    <!-- header -->
    <header>
        <a style="display: flex;">
            <a href="@Url.Action("Index", "Home")">
                <img style="left: 1px; margin-left: 30px; width: 5%; height: 5%;" src="~/images/logoMainTitle.png" alt="logoTitle">
            </a>
            <a href="@Url.Action("UserEnter", "Home")">
                <img class="userImg" style="filter:invert(100%); position: absolute; margin-right: 190px; top: 35px; right: 1px; width: 2%;" src="~/images/user.png" alt="userImg">
            </a>
            <a href="@Url.Action("Cart", "Home")">
                <img class="cartImg" style="filter:invert(100%); position: absolute; margin-right: 105px; top: 35px; right: 1px; width: 2%;" src="~/images/shopping-cart.png" alt="userImg">
            </a>
            <p style="position: absolute; top: 1px; left: 135px; margin-left: 30px; font-size: 32px; font-weight: bold; font-family: 'Lucida Sans Unicode';">My MarketPlace</p>
        </a>
        <button class="catalogBtnHeader">Каталог</button>
        <input class="searchInputHeader" type="text">
        <button class="searchBtnHeader">Пошук</button>
        <!-- <h1 style="left: 1px; margin-left: 30px; font-family: 'Lucida Sans Unicode';">My MarketPlace</h1> -->
    </header>
    <!-- Main Info -->
    <div class="mainPageItems">
        <h1>Youre cart</h1>
        <p>
            fkoixgdfjgoidrfjg
        </p>
    <!-- footer -->
    <footer>
        <p>© 2024–2024 Інтернет-магазин <br> «My MarketPlace™»</p>
        <a href="@Url.Action("Privacy", "Home")" class="footerLink">Privacy Policy & Terms of Use</a>
        <p>
            ТМ використовується на підставі <br> ліцензії правовласника Oleksandr <br>
            All rights reserved.
        </p>
    </footer>
</body>
</html>