@page
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page - My MarketPlace</title>
</head>
<style>
body 
{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
header
{
    color: white;
    background: #FC785B;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
.catalogBtnHeader
{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    background: whitesmoke;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    width: 110px;
    height: 32px;
    left: 440px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.catalogBtnHeader:hover
{
    background: #BDBDBD;
    border: 2px solid #8b8b8b;
}
.searchInputHeader
{
    color: black;
    font-size: 22px;
    font-family: 'consolas';
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 920px;
    height: 30px;
    left: 600px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
}
.searchBtnHeader
{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    left: 1530px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.searchBtnHeader:hover
{
    background: #BDBDBD;
}
.sidebarLeftSide
{
    font-family: 'Calisto MT';
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    border-right: 1px solid grey;
    top: 112px;
    left: 0;
    overflow-y: auto;
    z-index: 1;
}
.sidebarLeftSide button 
{
    padding: 15px 15px;
    text-decoration: none;
    font-size: 14px;
    color: grey;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}
.sidebarLeftSide button:hover 
{
    color: #555555;
}
.mainPageItems 
{
    margin-top: 85px;
    margin-left: 255px;
    padding: 20px;
}
footer
{
    font-family: monospace;
    font-size: 22px;
    color: white;
    background: #504542;
    position: absolute;
    display: flex;
    width: 86.7%;
    height: 250px;
    right: 1px;
    bottom: -1000px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    flex-direction: row;   
    justify-content: space-around;         
    align-items: center;
}
.footerLink
{
    bottom: 30px;
    position: absolute;
    color: white;
}
.footerLink:hover
{
    cursor: pointer;
    border-bottom: 1px solid grey;
}
</style>
<body>
    <!-- header -->
    <header>
        <a style="display: flex;">
            <img style="left: 1px; margin-left: 30px; width: 5%; height: 5%;" src="~/images/logoMainTitle.png" alt="logoTitle">
            <p style="left: 1px; margin-left: 30px; font-size: 32px; font-weight: bold; font-family: 'Lucida Sans Unicode';">My MarketPlace</p>
        </a>
        <button class="catalogBtnHeader">Каталог</button>
        <input class="searchInputHeader" type="text">
        <button class="searchBtnHeader">Пошук</button>
        <!-- <h1 style="left: 1px; margin-left: 30px; font-family: 'Lucida Sans Unicode';">My MarketPlace</h1> -->
    </header>
    <!-- sidebar -->
    <div class="sidebarLeftSide">
        <button>Ноутбуки та Комп'ютери</button>
        <button>Смартфони, ТВ і Електроніка</button>
        <button>Товари для геймерів</button>
        <button>Побутова техніка</button>
        <button>Товари для дому</button>
        <button>Інструменти та авто товари</button>
        <button>Сантехніка та ремонт</button>
        <button>Дача, Сад і Огород</button>
        <button>Спорт і захоплення</button>
        <button>Одяг, Взуття та Прикраси</button>
        <button>Краса та Здоров'я</button>
        <button>Дитячі товари</button>
        <button>Зоотовари</button>
        <button>Канцелярія</button>
        <button>Алкогольні напої та Продукти</button>
        <button>Побутова хімія</button>
        <p style="font-size: 14px; color: #BDBDBD; bottom: 140px; position: absolute; left: 20px;">© 2024–2024 Інтернет-магазин <br> «My MarketPlace™»</p>
    </div>
    <!-- Main Info -->
    <div class="mainPageItems">
        <h1>My mArket</h1>
        <h1>safsdfdsfsfsedfdfdsfdsf</h1>
    </div>
    <!-- footer -->
    <footer>
        <p>© 2024–2024 Інтернет-магазин <br> «My MarketPlace™»</p>
        <a href="@Url.Action("Privacy", "Home")" class="footerLink">Privacy Policy & Terms of Use</a>
        <p>
            ТМ використовується на підставі <br> ліцензії правовласника Oleksandr <br>
            All rights reserved.
        </p>
    </footer>
</body>
</html>