@page
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy & Terms of Use - My MarketPlace</title>
</head>
<style>
body    
{
    margin: 0;
    padding: 0;        
    overflow-y: scroll;
    background: #3D3D3D;
    color: white;
}
header
{
    color: white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #5D5D5D;
}
.catalogBtnHeader 
{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    background: whitesmoke;
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    width: 110px;
    height: 32px;
    left: 440px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.catalogBtnHeader:hover 
{        
    background: #BDBDBD;          
    border: 2px solid #8b8b8b;
}
.searchInputHeader 
{   
    color: black;  
    font-size: 22px;  
    font-family: 'consolas';     
    background: whitesmoke;    
    border: none;    
    border-radius: 5px;   
    width: 920px;    
    height: 30px;     
    left: 600px;     
    top: 41.5px;     
    position: absolute;  
    z-index: 0;
}
.searchBtnHeader 
{ 
    color: black;  
    font-size: 22px;
    font-weight: bold;  
    font-family: 'Arial'; 
    background: whitesmoke;   
    border: none; 
    border-radius: 5px; 
    width: 100px; 
    height: 32px;
    left: 1530px;  
    top: 41.5px;   
    position: absolute;    
    z-index: 0;  
    cursor: pointer;
}
.searchBtnHeader:hover 
{    
    background: #BDBDBD;
}
.userImg
{
    cursor: pointer;
}
.userImg:hover
{
    background: #8b8b8b4b;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.cartImg
{
    cursor: pointer;
}
.cartImg:hover
{
    background: #8b8b8b4b;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.mainPageItems 
{  
    margin-top: 85px;    
    margin-left: 255px;  
    padding: 20px;  
}
footer
{
    font-family: monospace;
    font-size: 22px;
    color: white;
    background: #1D1D1D;
    position: absolute;
    display: flex;
    width: 100%;
    height: 250px;
    bottom: -350px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    flex-direction: row;   
    justify-content: space-around;         
    align-items: center;
}
.footerLink 
{  
    bottom: 30px;   
    position: absolute;
}
.footerLink:hover 
{        
    cursor: pointer;    
    border-bottom: 1px solid grey;
}
li 
{  
    padding: 10px 0;
}
</style>
<body>
    <!-- header -->
    <header>
        <a style="display: flex;">
            <a href="@Url.Action("Index", "Home")">
                <img style="left: 1px; margin-left: 30px; width: 5%; height: 5%;" src="~/images/logoMainTitle.png" alt="logoTitle">
            </a>
            <a href="@Url.Action("UserEnter", "Home")">
                <img class="userImg" style="filter:invert(100%); position: absolute; margin-right: 190px; top: 35px; right: 1px; width: 2%;" src="~/images/user.png" alt="userImg">
            </a>
            <a href="@Url.Action("Cart", "Home")">
                <img class="cartImg" style="filter:invert(100%); position: absolute; margin-right: 105px; top: 35px; right: 1px; width: 2%;" src="~/images/shopping-cart.png" alt="userImg">
            </a>
            <p style="position: absolute; top: 1px; left: 135px; margin-left: 30px; font-size: 32px; font-weight: bold; font-family: 'Lucida Sans Unicode';">My MarketPlace</p>
        </a>
        <button class="catalogBtnHeader">Каталог</button>
        <input class="searchInputHeader" type="text">
        <button class="searchBtnHeader">Пошук</button>
        <!-- <h1 style="left: 1px; margin-left: 30px; font-family: 'Lucida Sans Unicode';">My MarketPlace</h1> -->
    </header>
    <!-- Main Info -->
    <div class="mainPageItems">
        <h1>Угода користувача</h1>
        <p>
            Викладений нижче текст Угоди користувача (надалі – «Угода» та/або «Угода»),
            адресований невизначеному колу осіб, відвідувачам сайту: MyMarketPlace.com.ua
            (надалі – «Сайт») та/або мобільного додатку <br> MyMarketPlace (надалі – «Мобільний додаток»)
            та/або інших сервісів (надалі разом іменуються як «Он-лайн платформа My MarketPlace та/або
            «Он-лайн платформа»), при використанні, замовленні, <br> листуванні, телефонній розмові,
            залишенні відгуків тощо на Он-лайн платформі My MarketPlace.
        </p>
        <p>
            Ця Угода є публічною офертою в розумінні положень чинного
            законодавства України. Вчинення конклюдентних дій особами
            (далі іменовані «Користувач»/ «Покупець», а в множині <br> «Користувачі»/
            «Покупці»), спрямованих на користування Он-лайн платформою My MarketPlace
            вважається безумовним прийняттям (акцептом) усіх положень цієї Угоди.
            Користувач цим визнає, <br> що акцепт Угоди рівносильний підписанню та укладенню
            Угоди на умовах, викладених в цій Угоді. У випадку визнання недійсною або
            нездійсненною будь-якої частини <br> даної Угоди користувача, інші її частини будуть
            залишатися чинними.
        </p>
        <p>
            Угода користувача визначає загальні умови створення
            особистого кабінету користувача, формування та прийняття замовлення до
            виконання, доставку та повернення товару, маркетингові <br> аспекти взаємодії
            Користувача та Он-лайн платформи My MarketPlace тощо.
        </p>
        <p>
            Якщо Ви, як Користувач, не погоджуєтесь із цією Угодою користувача,
            Ви не повинні користуватися Он-лайн платформою My MarketPlace.
            Будь ласка, періодично перевіряйте цю Угоду, <br> оскільки зміни в
            Угоді вказують на те, що Ви приймаєте їх з моменту внесення таких змін.
        </p>
        <p>
            Користувач акцептом цієї Угоди надає згоду на обробку
            та захист своїх персональних даних, в обсязі, порядку, відповідно
            до мети та цілей обробки згідно з Положенням про обробку <br>
            персональних даних (надалі – «Положення» та/або «Положення
            про обробку і захист персональних даних»).
        </p>
        <p>
            Ми цінуємо право Користувача на особисте життя та
            нерозголошення його персональної інформації. Ця Угода
            користувача — правило, яким користуються всі Користувачі
            нашого сервісу, <br> та регламентує збір і використання
            особистої інформації, яка може бути запитана/отримана
            при відвідуванні Он-лайн платформи при замовленні,
            листуванні, телефонній розмові, будь-якій іншій <br> комунікації,
            при якій здійснюється обмін даними/інформацією. Якщо у
            Користувача виникнуть питання або проблеми у зв’язку з
            конфіденційністю, Користувач має бажання <br> відкликати Згоду
            на використання персональних даних, для цього достатньо
            надіслати повідомлення електронною поштою, з поміткою в
            темі листа <br> «Персональні дані» на електронну адресу: cab@mymarketplace.com.ua
        </p>
        <h1>КОНТАКТ З ОН-ЛАЙН ПЛАТФОРМОЮ</h1>
        <ul>
            <li>Зв'язок з Он-лайн платформою можливий:</li>
            <li>в електронному вигляді за адресою: sales@mymarketplace.com.ua</li>
            <li>за допомогою онлайн-чату, доступного на веб-сайті MyMarketPlace.com.ua</li>
            <li>Запити Користувачів у формі електронної пошти або через онлайн-чат можна надсилати цілодобово, однак обробка таких запитів відбувається в робочі дні.</li>
        </ul>
        <h1>ПЕРСОНАЛЬНІ ДАНІ КОРИСТУВАЧА</h1>
        <p>
            Он-лайн платформа My MarketPlace, в разі, коли Користувач робить
            замовлення, берете участь в акціях, дослідженнях або іншим
            чином взаємодієте з Он-лайн платформою, Он-лайн <br>
            платформа збирає як особисту інформацію, так і загальні дані.
        </p>
        <p>
            Особиста інформація стосується окремого користувача та
            обробляється в порядку, межах, з метою, визначених в Положенні
            про обробку персональних даних Користувача (далі – Положення). <br>
            При цьому не вимагається реєстрація або надання такої
            інформації для перегляду Он-лайн платформи та отримання доступу до його змісту.
        </p>
        <p>
            Для того щоб зробити замовлення товарів/послуг, брати участь в
            акціях, дослідженнях або іншим чином взаємодіяти з Он-лайн платформою, ви
            повинні уважно ознайомитися з вашими <br> правами та обов’язками
            щодо обробки персональних даних, які зазначені в ст. 8 Законі
            України «Про захист персональних даних» та Положенні, уважно ознайомитися
            з даною Угодою <br> користувача та Положенням, а також висловити свою повну згоду з їх умовами.
        </p>
        <p>
            Якщо ви не погоджуєтеся з будь-якою з умов даної Угоди користувача
            та Положення про обробку і захист персональних даних, будь ласка,
            не надавайте особисту інформацію (персональні дані).
        </p>
        <h1>ОБРОБКА ПЕРСОНАЛЬНИХ ДАНИХ З МЕТОЮ ПРИДБАННЯ ТОВАРУ В КРЕДИТ</h1>
        <p>
            У доповнення до Положення про обробку і захист персональних даних,
            на виконання вимог Закону України "Про захист персональних даних"
            шляхом заповнення на Онлайн-платформі заявки <br> для розгляду можливості
            придбання товару в кредит та натискання кнопки «Замовлення підтверджую»
            Користувач надає згоду на обробку вказаних у заявці персональних даних
            наступними <br> особами: АТ «ПУМБ» (код ЄДРПОУ - 11111111), АТ «ОТП БAНК»
            (код ЄДРПОУ– 22222222), АТ "УКРСИББАНК" (код ЄДРПОУ– 33333333), ТОВ
            "ФК"ЦФР" (код ЄДРПОУ– 44444444), АТ "АЛЬФА-БАНК" <br> (код ЄДРПОУ– 55555555),
            АТ КБ «ПРИВАТБАНК» (код ЄДРПОУ – 66666666), АТ "УНІВЕРСАЛ БАНК" (код ЄДРПОУ
            – 77777777), та іншим фінансовим установам, що надають можливість <br> кредитування
            на Он-лайн платформі My MarketPlace, з метою забезпечення реалізації цивільно-правових
            відносин, надання/отримання та здійснення розрахунків за придбані товари/послуги, <br>
            в тому числі шляхом кредитування.
        </p>
        <p>
            Цією Угодою Користувач не заперечує щодо перевірки переліченими у
            цій Угоді фінансовими установами інформації у будь-яких бюро кредитних
            історій України з метою з’ясування відомостей, <br> які стосуються виконання
            мною взятих на себе зобов’язань по договорам (в т.ч. кредитним), у випадку
            наявності таких, тим самим розуміючи, що об’єм інформації, яка буде
            перевірятися, <br> може включати в себе інформацію, яка стосується банківської
            таємниці, і з’ясування якої буде такою, яка буде повною та достатньою для розуміння
            його соціального, майнового стану, <br> платоспроможності та несення можливої подальшої
            майнової відповідальності, у випадку її необхідності.
        </p>
        <p>
            Користувач також погоджується з тим, що Володілець має право
            надавати доступ та передавати його персональні дані третім особам
            без будь-яких додаткових повідомлень, не змінюючи при <br> цьому мети
            їх обробки, визначеної в Положенні та цій Угоді. В тому числі, на
            перевірку зазначеної Користувачем інформації та не заперечує про передачу
            для можливого необхідного з'ясування <br> даної інформації третім особам, під
            якими розумію: фінансові установи, колекторські компанії, оператори
            мобільного та поштового зв’язку, інші фізичні та/або юридичні особи.
        </p>
        <p>
            Користувач надає згоду запитувати та отримувати в бюро кредитних
            історій, включених до Єдиного реєстру бюро кредитних історій
            (надалі – «Бюро»), дані та інформацію у вигляді зведених показників, <br>
            сформованих на основі інформації, що міститься у його кредитній
            історії та/або на основі інформації доступної з відкритих джерел, від
            третіх осіб, з використанням доступних Бюро моделей <br> розрахунку, а
            також на використання зазначеної інформації володільцем та/або
            третіми особами для визначення та пропонування мені Володільцем в
            особистому кабінеті на Он-лайн платформі <br> My MarketPlace https://mymarketplace.com.ua/
            маркетингових/спеціальних пропозицій(фінансових лімітів) для придбання
            товарів та/або послуг.
        </p>
        <h1>ТРЕТІ СТОРОНИ, ЯКІ НАДАЮТЬ ПОСЛУГИ</h1>
        <p>
            Для виконання та доставки замовлень, надання підтримки споживачів, аналізу даних
            та інших послуг Користувач надає згоду Он-лайн платформі залучати послуги третіх
            сторін. Передання <br> персональних даних Користувача для обробки третіми особами здійснюється
            в межах та на умовах, визначених цією Угодою та в Положенні про обробку і захист
            персональних даних.
        </p>
        <h1>РОЗГОЛОШЕННЯ ТА ПЕРЕДАННЯ ІНФОРМАЦІЇ</h1>
        <p>
            Інформація про умови розкриття інформації про персональні дані третім
            особам міститься в Положенні про обробку персональних даних Користувача.
        </p>
        <h1>ОСОБИСТИЙ КАБІНЕТ</h1>
        <p>
            Особистий кабінет, це повноцінний інструмент створений для того, щоб
            зробити покупки з використанням Он-лайн платформи ще зручнішими.
            Зареєструвавшись на Он-лайн платформі <br> Користувач отримує можливість керувати
            покупками. Покрокова інструкція з реєстрації особистого кабінету доступна за посиланням тут.
        </p>
        <p>
            Користувач має право видалити особистий кабінет. Інструкція щодо видалення
            особистого кабінету доступна за посиланням тут.
        </p>
        <h1>ПОЛІТИКА COOKIES</h1>
        <p>
            Як і багато інших компаній, ми використовуємо технологію cookies
            на нашій Он-лайн платформі та поза її межами. Cookies — це уривки
            інформації, які Он-лайн платформа передає на жорсткий диск <br> споживача
            (Користувача) для зберігання інформації, пов’язаної з Он-лайн платформою.
            Ця технологія розширює можливості використання Інтернету, зберігаючи пріоритети
            Користувача <br> під час перегляду певного сайту. Технологія cookies не містить особистої
            інформації і не може жодним чином налаштовувати систему Користувача або зчитувати
            інформацію <br> з його жорсткого диска.
        </p>
        <p>
            Під час перегляду Он-лайн платформи ми можемо розмістити cookies на вашому
            комп’ютері. Такі тимчасові cookies використовують для підрахунку кількості
            візитів на нашу Он-лайн платформу. <br> Вони видаляються, коли ви виходите
            з браузера. Постійні cookies можуть зберігатися на вашому комп’ютері
            вашим браузером. Під час реєстрації цей тип cookies повідомляє: вперше ви
            до нас завітали <br> чи заходили на нашу Он-лайн платформу раніше. Cookie не
            містять Персональних даних і можуть бути заблоковані вами у будь-який момент.
            Сookies не отримують особистої інформації про вас <br> та не надають нам вашої
            контактної інформації, а також не отримують жодної інформації з вашого комп’ютера.
            Ми використовуємо cookies для визначення характеристик Он-лайн платформи
            та пропозицій, <br> які вам найбільше подобаються з метою надання вам більше інформації,
            в якій ви зацікавлені. Крім того, файли cookie використовуються, щоб зробити <br>
            Он-лайн платформу https://mymarketplace.com.ua/ua/ безпечною, захищеною і зручною. <br>
            Файли cookie забезпечують підтримку функцій безпеки та їх запуск.
        </p>
        <p>
            Файли cookie також дозволяють відстежувати порушення Угоди
            користувача відвідувачами або пристроями. Файли cookie допомагають
            оцінити кількість і частоту запитів, а також виявляти і блокувати тих <br>
            відвідувачів або пристрої, які намагаються виконати пакетні завантаження
            інформації з Он-лайн платформи.
        </p>
        <p>
            Ярлик «help» на панелі більшості браузерів проінформує Вас як
            заборонити браузеру приймати нові cookies, як отримувати повідомлення
            від браузера, що ви отримали нові cookies, або як відключити <br> cookies.
            Пам’ятайте, що cookies дозволяють Вам повною мірою користуватися всіма
            можливостями Он-лайн платформи https://mymarketplace.com.ua/ua/, і ми рекомендуємо
            вам залишати <br> їх ввімкненими.
        </p>
        <p>
            Крім того, Он-лайн платформа https://mymarketplace.com.ua/ua/ може містити
            посилання на сайти, які не управляються ТОВ My MarketPlace. УА». Такі
            посилання наведені виключно для інформаційних <br> цілей. При переході
            на за посиланнями на інші сайти дія цього Положення та цієї Угоди користувача
            на такі сайти не поширюється.
        </p>
        <p>
            Технічне оснащення сторінок Он-лайн платформи https://mymarketplace.com.ua/ua/ може
            включати в себе модулі: Facebook, Twitter, Youtube (youtube.com), Google, Telegram, Instagram, Viber.
        </p>
        <p>
            Ці модулі можуть бути кнопками синхронізації аккаунту на
            Он-лайн платформі https://mymarketplace.com.ua/ua/, Like, ретвітнути або
            відповідно «Мені подобається». Якщо відвідувач відкривав одну <br> з веб-сторінок,
            оснащену таким плагіном, його інтернет-браузер безпосередньо підключить його до
            серверів Facebook, Twitter, LinkedIn, Google+, Youtube Telegram, Instagram, Viber.
            Плагін буде <br> передавати на сервер дані про те, які саме веб-сторінки Он-лайн
            платформи https://mymarketplace.com.ua/ua/ відвідувач переглядав. При використанні будь-яких
            функцій плагіну, ця інформація <br> також буде синхронізована з обліковим записом відвідувача на
            Facebook, Twitter, Google+ , Youtube, Telegram, Instagram, Viber. Більш детальну інформацію
            про збір і використання даних мережами <br> Facebook, Twitter, Google+, Youtube Telegram,
            Instagram, Viber, а також про права і можливості щодо захисту персональних даних в даному
            контексті можна знайти в розділі про конфіденційність <br> на сайтах Facebook, Twitter, LinkedIn,
            Google+, Youtube, Telegram, Instagram, Viber.
        </p>
        <h1>МЕДІА ТА КОМУНІКАЦІЯ</h1>
        <p>
            Користувач, використовуючи Он-лайн платформу надає згоду на отримання
            дзвінків щодо верифікації замовлення, оцінки якості виконання замовлення,
            отримання повідомлень електронною поштою, <br> в месенджерах в т.ч., але не виключно,
            Viber, Telegram, WhatsApp, по телефону, отримання push-повідомлень на телефон в т.ч.
            щодо якості обслуговування; отримання маркетингових розсилок, <br> інформаційних листів,
            опитувальників з метою оцінки якості надаваних послуг, проведення
            аналітичних досліджень. Користувач також наділений правом опублікування відгуку
            про отриманий товар. <br> Більш детально про процедуру залишення відгуків можна прочитати тут.
        </p>
        <h1>ЦІНИ ТА НАЯВНІСТЬ ТОВАРУ</h1>
        <p>
            Опис товарів, що розміщений на Он-лайн платформі, в тому числі
            ціни позначені на Он-лайн платформі та інформація щодо наявності
            товарів, може змінюватись. Сума замовлення може змінюватись <br> в залежності
            від ціни, кількості, номенклатури товару наявного у продавця на дату відвантаження.
            Остаточна вартість товару зазначається в розрахункових та/або товаросупровідних
            документах, <br> що надаються покупцеві (або його представнику) під час отримання
            замовлення. У випадку відсутності товару продавець може в односторонньому
            порядку скасовувати замовлення. <br> Детальніше про оплату товару можна почитати тут.
        </p>
        <h1>КОНКУРСИ ТА АКЦІЇ</h1>
        <p>
            Он-лайн платформа My MarketPlace іноді розміщує повідомлення про промо-акції
            із можливістю зареєструватися онлайн. У таких випадках ми використаємо
            надану Користувачем інформацію, щоб <br> провести акцію (наприклад, повідомити
            Користувача у разі виграшу).
        </p>
        <p>
            Беручи участь в акції Користувач надає однозначну згоду на
            безкоштовне використання свого імені, прізвища, фотографії,
            інтерв’ю або інших матеріалів про Користувача з рекламною метою, <br>
            у тому числі право публікації імені та фотографії Користувача у
            засобах масової інформації, будь-яких друкованих, аудіо- та відеоматеріалах,
            інтерв’ю зі ЗМІ. <br> Таке використання не компенсується (не оплачується).
        </p>
        <p>
            Умови щодо передачі персональних даних третім особам в таких випадках
            визначені в Положенні про обробку даних Користувача.
        </p>
        <p>
            В рамках користуванням послугами Он-лайн платформи Користувач має
            можливість скористатися положеннями програми «Бонусний рахунок». <br>
            Офіційні правила програми «Бонусний рахунок» висвітлені в Публічній
            оферті програми «Бонусний рахунок». З положеннями програми «Бонусний
            рахунок» можна почитати тут.
        </p>
        <h1>ОФОРМЛЕННЯ ЗАМОВЛЕННЯ</h1>
        <p>
            Оформлення замовлення на Он-лайн платформі можливе для зареєстрованих
            Користувачів, які мають доступ до Особистого кабінету, а також для Користувачів,
            які не мають створеного Особистого кабінету.
        </p>
        <p>
            Користувач розміщує Замовлення на Он-лайн платформі через Особистий кабінет,
            заповнюючи бланк Замовлення на Сайті або в Додатку в такій послідовності, як зазначено нижче:
        </p>
        <ul>
            <li>1) Користувач додає обраний(і) Товар(и) до "Кошика", а потім переходить до форми Замовлення.</li>
            <li>
                2) Користувач, який вже має Обліковий запис, підтверджує в бланку
                Замовлення дійсність даних, необхідних для укладення та
                виконання договору купівлі-продажу. <br> Користувач, який робить
                Замовлення вперше, повинен самостійно заповнити бланк Замовлення даними,
                необхідними для укладення та реалізації договору купівлі-продажу, <br> або
                авторизуватися за допомогою облікового запису Facebook або Google.
                У будь-якому випадку надання застарілих і неправдивих даних Користувача
                може <br> перешкодити виконанню Замовлення.
            </li>
            <li>
                3) У бланку Замовлення Користувачу необхідно вказати наступні дані,
                що стосуються Користувача: ім'я та прізвище, контактний
                номер телефону та/або електронну адресу, <br> а також дані,
                що стосуються договору купівлі-продажу: Товар(и), кількість
                Товару(ів), місце і спосіб доставки Товару(ів), спосіб оплати,
                дані щодо отримувача Замовлення <br> (у випадку, коли отримувачем
                Замовлення є третя особа). Надання адреси електронної пошти не
                є обов'язковим. Залежно від обраного способу доставки Товару/товарів, <br>
                у Користувача також можуть попросити надати наступні дані: адреса
                (вулиця, номер будинку/квартири, поштовий індекс, населений пункт,
                країна). У випадку, якщо Користувач <br> бажає здійснити оплату від імені
                суб’єкта господарювання (юридичної особи або фізичної особи-підприємця),
                необхідно також вказати компанію, а якщо вони запросили <br> рахунок-фактуру
                з ПДВ як частину форми, також номер платника ПДВ.
            </li>
            <li>
                4) Користувач вибирає один із запропонованих Он-лайн платформою способів доставки та оплати Товару(ів).
            </li>
            <li>
                5) Користувач відправляє Замовлення (подає оферту), використовуючи доступну для цієї мети функціональність Он-лайн платформи (кнопка "Замовити і оплатити").
            </li>
            <li>
                6) Якщо Користувач вперше оформляє Замовлення на веб-сайті,
                доступному за адресою:https://mymarketplace.com.ua/ua/а такожу відповідному Додатку,
                його просять підтвердити <br> контактний номер телефону, ввівши у відповідне поле
                форми Замовлення код, отриманий Користувачем в SMS-повідомленні або через
                месенджер Viber. У разі, якщо Користувач вже має <br> відповідний акаунт, зареєстрований
                на Он-лайн платформі, здійснює замовлення, але не підтвердив номер телефону,
                Он-лайн платформа автоматично здійснює дії, <br> направлені на верифікацію та
                підтвердження вказаного номеру.
            </li>
            <li>
                7) В процесі оформлення Замовлення, до моменту натискання кнопки
                "Замовити та оплатити", Користувач має можливість самостійно коригувати
                введені дані щодо обраного(их) <br> Товару(ів), додаючи або видаляючи відповідну
                позицію з "Кошика". Видалення одного товару може автоматично спричинити
                видалення іншого товару з "Кошика", <br> зважаючи на прямий зв'язок між Товарами.
            </li>
            <li>
                8) В залежності від обраного способу оплати, Користувач може бути перенаправлений на сторінки стороннього постачальника платіжних послуг для здійснення платежу.
            </li>
            <li>
                9) Користувач свідомий того, що незалежно від волі Он-лайн платформи
                перевізниками, службами доставки, фінансовими компаніями тощо (разом –
                «Треті особи») можуть встановлюватись <br> додаткові комісії та тарифи за
                надавані третіми особами послуги. Он-лайн платформа не несе відповідальність
                за зміну таких комісій чи тарифів. Он-лайн платформа <br> докладатиме усіх
                розумних зусиль стосовно інформування Користувачів про такі зміни.
            </li>
            <li>
                10) Натисканням кнопки "Замовлення підтверджую" Користувач погоджується
                на оплату усіх супутніх тарифів та комісій, що дораховуються до суми
                оформленого замовлення. <br> Про наявні тарифи та комісії ТОВ «ФК «ЕВО» можна прочитати тут.
            </li>
        </ul>
        <p>
            Перед оформленням Замовлення Користувач зобов'язаний ознайомитися
            з положеннями цієї Угоди та дотримуватися їх.
        </p>
        <p>
            Після оформлення Замовлення Он-лайн платформа негайно підтверджує його
            отримання та надсилає на адресу електронної пошти повідомлення про прийняття
            Замовлення до виконання.
        </p>
        <p>
            Розміщення Користувачем Замовлення ще не означає укладення Договору купівлі-продажу.
            Договір купівлі-продажу між Користувачем і продавцем укладається в момент
            отримання Клієнтом повідомлення про прийняття Замовлення до виконання.
        </p>
        <p>
            У разі відсутності Товару/Послуги або інших перешкод, Сайт в індивідуальному
            порядку зв'яжеться з Користувачем за вказаною Користувачем адресою електронної
            пошти або номером телефону.
        </p>
        <p>
            Інформація про статус Замовлення доводиться до відома Користувача
            одним або декількома з наступних доступних способів: статус в Особистому
            кабінеті Користувача, повідомлення на адресу електронної пошти, онлайн-чат
            в Особистому кабінеті Користувача.
        </p>
        <p>
            Он-лайн платформа залишає за собою право вводити обмеження на
            замовлення Користувачем певних Товарів, зокрема, коли такі Товари
            пропонуються в рамках акцій. Обмеження будуть щоразу вказуватися на
            Он-лайн платформі. Додаткова інформація щодо оформлення замовлень можна прочитати тут.
        </p>
        <h1>ДОСТАВКА ТОВАРУ</h1>
        <p>
            Користувачі можуть ознайомитися із положеннями щодо доставки товару тут.
        </p>
    </div>
    <!-- footer -->
    <footer>
        <p>© 2024–2024 Інтернет-магазин <br> «My MarketPlace™»</p>
        <a href="@Url.Action("Privacy", "Home")" class="footerLink">Privacy Policy & Terms of Use</a>
        <p>
            ТМ використовується на підставі <br> ліцензії правовласника Oleksandr <br>
            All rights reserved.
        </p>
    </footer>
</body>
</html>